.signupForm{
    display: flex;
    border-radius: 3px;
    /* border: 1px solid; */
  }
  #modal-content{
    border-radius: 5px;
  }
  
  #signuptext{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    /* padding-bottom: 7%; */
  }
  
  #firstName{
    margin: 10px;
  
  }
  #lastName{
    margin: 10px;
  }
  #email{
    margin: 10px;
  }
  #username{
    margin: 10px;
  }
  #password{
    margin: 10px;
  }
  #confirmPassword{
    margin: 10px;
  }
  #submitButton1{
  background-color:  white;
  color: black;
  margin: 10px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid lightgrey;
  }
  
  #submitButton1:hover{
    background-color:  rgb(80,117,148);
    box-shadow: 2px 2px 30px lightgrey;
  }