.h2{
    display: flex;
    justify-content: center;
  }
  .newSpotContainer{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    /* justify-content: center; */
    width: auto;
    background-color: white;
  }
  
  .newSpotForm{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* margin: 1px rgba(0,0,0,0); */
    /* padding: 2%; */
    background-color: white;
    color: black;
    /* align-items: start; */
    width: 125%;
  }
  
  #spotName1 {
    /* border: 1px solid; */
    margin: 10px;
    display: flex;
    /* align-self: center; */
  
  
  }
  #nameTextBox{
    margin-left: 10px;
    display: flex;
    /* align-content: center; */
  }
  #address {
    margin: 10px;
    padding-left: 2%;
    /* align-self: center; */
  }
  #addressTextBox{
    margin-left: 10px;
  }
  /* #cityState {
      align-self: center;
      margin: 10px;
  
    } */
    #country {
      /* align-self: center; */
      margin: 10px;
    }
  
    #countryTextBox{
      margin-left: 10px;
    }
  
    #description {
      /* align-self: center; */
      margin: 10px;
      /* height: 50px; */
  
    }
    #descriptionbox{
      /* align-self: center; */
      /* margin: 10px; */
      height: 50px;
  
    }
    #price {
      margin: 10px;
      /* align-self: center; */
    }
  
    #priceTextBox{
      margin-left: 10px;
    }
  
    #city {
      margin: 10px;
      /* align-self: center; */
    }
  
    #cityTextBox{
      margin-left: 10px;
    }
  
    #state{
      /* align-self: center; */
      margin: 10px;
    }
  
    #stateTextBox{
      margin-left: 10px;
    }
  
    #url{
  
      margin: 10px;
    }
  
    #urlTextBox{
      margin-left: 10px;
    }
  
  #submitButton{
    border-radius: 5px;
    background-color:  rgb(80,117,148);
    color: white;
    margin: 10px;
    }
  
    .cancelButton{
      background-color: rgb(165, 38, 38);
      border-radius: 5px;
      color: white;
  
    }