#review-form{
    display: flex;
    /* background-color: ; */
    border-radius: 4%;
    height: 110%;
    width: 400px;
    background-color: white;
    /* justify-content: center; */
    /* align-content: center; */
    align-items: center;
    flex-direction: column;
  }
  
  .createReview{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    width: 120%;
    /* padding-left: 5% border: 1px solid lightgrey;; */
  }
  
  .error{
    padding-top: 5px;
    padding-left: 5%;
  }
  
  .bottom{
    display: flex;
    margin-bottom: 3%;
    /* justify-content: space-between; */
  }
  
  #review-text{
    display: flex;
    /* justify-content: center; */
    /* align-self: center; */
    border-radius: 4%;
    resize: none;
    display: flex;
    width: 90%;
    height: 200px;
    margin-top: 1%;
    margin-bottom: 3%;
    padding-top: 1%;
    background-color: lightgray;
    padding-top: 3px;
  }
  
   .submitButton{
    background-color: white;
    border-radius: 3px;
    color: black;
    margin: 2%;
    border: 1px solid lightgrey;
  }
  .submitButton:hover{
    background-color:  rgb(80,117,148);
    box-shadow: 2px 2px 30px lightgrey;
  }
  
  .cancelButton{
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    border: 1px solid lightgrey;
    margin-left: 3%;
  }
  
  .cancelButton:hover{
    background-color: rgb(165, 38, 38);
    box-shadow: 2px 2px 30px lightgrey;
  }