.spotImg1 {
    display: flex;
    justify-content: center;
    height: 650px;
    width: 659px;
    align-self: center;
    /* border: 2px solid black; */
    border-radius: 3%;
  }
  
  .outerContainer {
    /* border: 1px solid black; */
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    height: 100%;
    width: 100%;
    color: rgb(80, 117, 148);
    margin-top: -14%;
    /* font-weight: bold; */
  }
  
  .innerContainer {
    display: flex;
    position: static;
    /* border: 1px solid black; */
    /* justify-content: center; */
    flex-direction: column;
    /* padding: 15%; */
    align-items: center;
  }
  
  #spotName {
    /* border: 1px solid; */
    position: static;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    align-self: center;
    align-content: center;
    padding-left: 8%;
    margin-top: 15%;
    display: flex;
    width: 50%;
    /* left: 20px; */
  }
  #address {
    margin: 1px;
  
  }
  #cityState {
    /* margin-top: 10px; */
    margin-left: 5% ;
  
  }
  #country {
    margin-left: 5% ;
      /* margin-top: 1px; */
  
    }
    #description {
      margin-left: 5% ;
      /* margin-bottom: ; */
      /* margin: 1px; */
  
    }
    #price {
      /* margin: 1px; */
      margin-left: 5%;
      font-weight: bold;
    }
    #rating{
      display: flex;
      /* position: relative; */
      /* right: -2%; */
      margin-top: 1%;
      margin-bottom: 1%;
      font-size: 11px;
    }
  
    #number{
      font-size: 12px;
  
      margin-left: 1%;
    }
  
    .createReviewButton{
      margin: 1%;
      background-color: white ;
      color: black;
      border-radius: 3px;
      width: 15%;
      cursor: pointer;
      border: 1px solid lightgrey;
    }
  
    .createReviewButton:hover{
      background-color: rgb(80,117,148);
      box-shadow: 2px 2px 30px lightgrey;
    }
  
    .editButton {
      background-color: white;
      color: black;
      border-radius: 3px;
      margin: 3px;
      width: 15%;
      cursor: pointer;
      border: 1px solid lightgrey;
    }
  
    .editButton:hover{
      background-color: rgb(80,117,148);
      box-shadow: 2px 2px 30px lightgrey;
    }
  
    .deleteButton{
      background-color: white;
      border-radius: 3px;
      color: black;
      margin: 3px;
      width: 15%;
      cursor: pointer;
      border: 1px solid lightgrey;
    }
  
    .deleteButton:hover{
      background-color: rgb(142, 24, 24);
      box-shadow: 2px 2px 30px lightgrey;
    }
  
    .deleteReviewButton{
      /* display: flex; */
      border: 1px solid lightgrey;
    background-color: lightgrey;
    border-radius: 3px;
    color: black;
    margin: 3px;
    cursor: pointer;
    /* width: 15%; */
  }
  
  .spotInfo{
    /* border: 1px solid; */
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
  }
  
  .deleteReviewButton:hover{
    background-color: rgb(142, 24, 24);
    box-shadow: 2px 2px 30px lightgrey;
    color: white;
  }
  
  .reviewContainer{
    /* border: 1px solid blue; */
    /* margin-left: 2%; */
    display: flex;
    margin-bottom: 10%;
    padding: 2%;
  }
  
  .review{
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    width: auto;
    /* left: .1px; */
    /* right: .1px; */
  }
  
  .userReview{
    /* border: 1px solid; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* border-bottom: 1px solid gray; */
    font-style: italic;
    padding: 2%;
    /* width: 100%; */
    /* margin-bottom: 3%; */
  }
  